<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  
  <section class="customers">
    
    <h2 class="customers-title">Our Customers</h2>
    <p class="customers-paragraph">Through our capabilities, the services we provide, and our commitment,<br>
       we implement projects resulting in satisfied clients and success stories.</p>
    <br>
    <br>
    <div class="customers-container">
      <div class="customer-item">
        <img src="../../assets/interjet.png" alt="Customer 1">
        <p class="customer-description">Interjet is a Mexican airline based in Lomas de Chapultepec, Mexico City, which began operations in 2005..</p>
      </div>
      
      <div class="customer-item">
        <img src="../../assets/latam-airlines.png" alt="Customer 2">
        <p class="customer-description">LATAM Airlines is a Chilean airline formed by the merger of the South American airlines LAN and TAM</p>
      </div>
      
      <div class="customer-item">
        <img src="../../assets/tap-airline.png" alt="Customer 3">
        <p class="customer-description">
          TAP Air Portugal is the main airline in Portugal. It was founded on March 14, 1945, is currently a member of the Star Alliance and flies mainly to Europe, America and Africa.</p>
      </div>
    </div>
 
  <br>
  <br>
  <br>
  
    <h2 class="customers-title">Our Project Experience</h2>
    <p class="customers-paragraph">Through our experience as certified Jeppesen/Boeing consultants,<br>
       we contribute to the support of the configuration and customization of state-of-the-art <br>
       optimization software for several key airlines in the aeronautical sector at an international level.</p>
    <br>
    <br>
    <div class="customers-container">
      <div class="customer-item">
        <img src="../../assets/endeavor-air.png" alt="Customer 1">
        <p class="customer-description">
          Endeavor is a US regional airline that operates as the Delta Connection for Delta Air Lines.</p>
      </div>
      
      <div class="customer-item">
        <img src="../../assets/gool.png" alt="Customer 2">
        <p class="customer-description">Gol Transportes Aéreos is an airline of Brazilian origin based at Guarulhos International Airport, located in the Guarulhos municipality in São Paulo.</p>
      </div>
      
      <div class="customer-item">
        <img src="../../assets/aeromexico.png" alt="Customer 3">
        <p class="customer-description">Grupo Aeroméxico S.A.B. de C.V. is a Mexican holding company based in Mexico City. GAM owns and operates Aeroméxico and is the largest airline in that country.</p>
      </div>
    </div>
  
  </section>


</body>
</html>