<div class="container">
  <div class="left">
    <h2>What is Optimen?</h2>
    <p>Optimen is a Mexican Software Development company that provides resources management and optimization services to different industries. 
      The company was designated and approved as an International Service Contractor for Jeppesen and Boeing.</p>
  </div>
  <div class="right">
    <img src="../../assets/about.png" alt="Imagen">
  </div>
</div>

<section id="about-us">
  <div class="about-item">
    <h2 class="about-title">Mission</h2>
    <p class="about-description">Support and facilitate Air Lines around the world to maintain reliable and sustainable operations through Technology, Innovation and living our Values.</p>
  </div><br><br>
  <div class="about-item">
    <h2 class="about-title">Vision</h2>
    <p class="about-description">To be the First option in Software, Technology and Innovation services for the global Airlines in the area of Aeronautical operational control.</p>
  </div><br><br>
  <br>    <div class="about-item">
    <h2 class="about-title">Values</h2>
    <ul class="about-list">
      <li>Trustworthy</li>
      <li>Respect</li>
      <li>Integrity</li>
      <li>Teamwork</li>
      <li>Innovation</li>
    </ul>
  </div>
</section>
<h3>Airline Experience</h3>
<section id="services">
  <div class="services-container">
    <div class="service-item">
      <img src="../../assets/airlineexp1.png" alt="Imagen 1">
      <p class="service-description">Associated with long experience in the Airline Industry with high trust and tight relation with commercial airlines and industry key players.</p>
    </div>
    <div class="service-item">
      <img src="../../assets/airlineexp2.png" alt="Imagen 2">
      <p class="service-description">Broad experience developing software in real Airline Operational Control Systems and implementation of Optimization Software.</p>
    </div>
    <div class="service-item">
      <img src="../../assets/airlineexp3.png" alt="Imagen 3">
      <p class="service-description">Strong Project Management following the industry best practices.</p>
    </div>
  </div>
</section>


<div class="title"><strong><h1>Our Story</h1></strong></div>
<div class="linea">
  <ul class="timeline">
  <li>
    <div class="date">2006</div>
    <div class="title">The beginning </div>
    <img src="#" alt="" class="cirle-image">
    <div class="description">Foundation of Optimen and first business <br> contract with Jeppesen Systems AB in Sweden.</div>
  </li>
  <li>
    <div class="date">2009</div>
    <div class="title">First support team</div>
    <div class="description">Optimen installs its first consulting and <br>support team in Mexicana de Aviación, S. A. B. de C. V.</div>
  </li>
  <li>
    <div class="date">2014</div>
    <div class="title">On the big league</div>
    <div class="description">Optimen was designated and approved as <br> an International Service Contractor for Jeppesen and Boeing.</div>
  </li>
  <li>
    <div class="date">2016</div>
    <div class="title">Our Opening</div>
    <div class="description">Opening of our offices in the city of León, Guanajuato.6</div>
  </li>
  <li>
    <div class="date">2017</div>
    <div class="title">Optimen and the Aerospace Cluster</div>
    <div class="description">Integration of Optimen to the " Aerospace Cluster in Guanajuato".</div>
  </li>
  <li>
    <div class="date">2017</div>
    <div class="title">First South American Client</div>
    <div class="description">We obtained our first Client in South America, LATAM.</div>
  </li>
  <li>
    <div class="date">2017</div>
    <div class="title">Guanajuato Talent</div>
    <div class="description">We obtained the "Talent Guanajuato" Recognition ,<br>
       by the Government of the State of Guanajuato.</div>
  </li>
  <li>
    <div class="date">2018</div>
    <div class="title">Other Relationships</div>
    <div class="description">Integration of Optimen to the Digital Cluster "GTO Tech", <br>
      as members and active participants.</div>
  </li>
  <li>
    <div class="date">2019</div>
    <div class="title">Innovation Hub Optimen</div>
    <div class="description">Grand opening of the “Innovation Hub Optimen”,<br>
       a technological innovation center dedicated<br> to developing the skills of the work team.</div>
  </li>
  <li>
    <div class="date">2019</div>
    <div class="title">Going global</div>
    <div class="description">Obtains its first European client.</div>
  </li>
  <li>
    <div class="date">2019</div>
    <div class="title">Título 2019</div>
    <div class="description">Descripción 2019</div>
  </li>
  <li>
    <div class="date">2020</div>
    <div class="title">UTNG relationship</div>
    <div class="description">Signing of a collaboration agreement <br>with the Universidad Tecnológica del Norte de Guanajuato (UTNG)<br> for the development of innovation projects.</div>
  </li>
  <li>
    <div class="date">2020</div>
    <div class="title">Aeroclúster Querétaro</div>
    <div class="description">Integration to the "Aeroclúster Querétaro", as members and active participants.</div>
  </li>
  <li>
    <div class="date">2020</div>
    <div class="title">CANIETI-CLUTIG</div>
    <div class="description">Integration to the "CANIETI-CLUTIG", as members and active participants.</div>
  </li>
  <li>
    <div class="date">2020</div>
    <div class="title">Distinctive "Marca GTO"</div>
    <div class="description">Obtaining the badge "Marca GTO"</div>
  </li>
</ul>
</div>

