<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="title">Innovation Hub</div><br>
  <div class="contenedor">
    <div class="item">
      <img src="../../assets/HANNOVER_MESSE.jpg">
      <h2>Hannover Messe</h2>
      <p>Optimen family present at "Industrial Transformation mexico, Hannover Messe"
        HANNOVER MESSE is the most important international platform and hot spot for industrial transformation - with excellent innovations or usual products</p>
    </div>
    <div class="item">
      <img src="../../assets/mentefactura_edited.png">
      <h2>AWS Mentefactura GTO Challenge</h2>
      <p>Hackathon organized by the alliance between AWS, Optimen, Educafin, IdeaGTO, SEG and GAP with the purpose that students, Guanajuato talent, will execute innovative projects aimed at improving airport services.</p>
    </div>
    <div class="item">
      <img src="../../assets/ana-avatar.png">
      <h2>ANA Avatar XPrize3</h2>
      <p>Optimen teamed up with Inbiodroid are working together on ANA Avatar XPRIZE challenge that aims to create an Avatar system that can transport human presence to a remote location in real time.</p>
    </div>
  </div>
  
  
  
</body>
</html>