<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>services</title>
</head>
<body>
  <div class="title">Our Services</div><br>  
  <div class="contenedor">
    <div class="fila">
      <div class="item">
        <div class="imagen"><img src="../../assets/consultancy.png"></div>
        <h2>Consultancy</h2>
        <p>Consultancy Services

          Implement Aircraft and Crew Tracking Systems and Optimizers
          
          </p>
      </div>
      <div class="item">
        <div class="imagen"><img src="../../assets/auditing.png"></div>
        <h2>Auditing</h2>
        <p>Auditng and process improvement </p>
      </div>
      <div class="item">
        <div class="imagen"><img src="../../assets/bussiness-rules.png"></div>
        <h2>Business Rules Development</h2>
        <p>Development of business rules for resource management</p>
      </div>
    </div>
    <div class="fila">
      <div class="item">
        <div class="imagen"><img src="../../assets/implementation.png"></div>
        <h2>Implementation Outsourcing</h2>
        <p>Implement Aircraft and Crew Tracking Systems and Optimizers </p>
      </div>
      <div class="item">
        <div class="imagen"><img src="../../assets/innovation.png"></div>
        <h2> Innovation
        </h2>
        <p> Innovation and Development of new systems</p>
      </div>
      <div class="item">
        <div class="imagen"><img src="../../assets/interfaces.png"></div>
        <h2> Interfaces Development</h2>
        <p> Development of Integrations / Interfaces for computer systems</p>
      </div>
    </div>
  </div>
  

</body>
</html>
